<!--component html goes here -->
<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Nat Jane
                        <br />
                    </h4>
                    <h6 class="description">Blah Blah</h6>
                </div>
            </div>

            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Register">

                            <ng-template ngbTabContent>

                                <h2 class="text-center">Register PromtpPay</h2>
                                <br>


                                <form class="contact-form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Select Account</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="nc-icon nc-badge"></i>
                                                </span>
                                                <select class="form-control" [(ngModel)]="registerSet.AccountID" name="id">
                                                    <option *ngFor="let acc of accountList" [ngValue]="acc">{{acc}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Mobile/Citizen Card</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="nc-icon nc-single-02"></i>
                                                </span>
                                                <select class="form-control" [(ngModel)]="registerSet.IDType" name="type">
                                                    <option value="mobile">Mobile No.</option>
                                                    <option value="Citizen">Citizen ID.</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Mobile Number/No. ID Card</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="nc-icon nc-credit-card"></i>
                                                </span>
                                                <input type="text" class="form-control" placeholder="Name">
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!-- <br> -->
                                    <button class="btn btn-warning btn-round">Register</button>
                                </form>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="GetDetail">
                            <ng-template ngbTabContent>
                                <h3 class="text-muted">Not following anyone yet :(</h3>
                                <br>
                                <button class="btn btn-warning btn-round">Find artists</button>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Delete">
                                <ng-template ngbTabContent>

                                        <h2 class="text-center">Delete PromtpPay</h2>
                                        <br>
                                        <!-- <h6>Select Type</h6>
                                        <div class="row">
                                                <div class="containerImage">
                                                        <img src="https://image.flaticon.com/icons/svg/186/186239.svg" alt="Mobile" class="image resize">
                                                        <div class="overlay">
                                                          <div class="text">Mobile</div>
                                                        </div>
                                                </div>
                                                <div class="containerImage">
                                                        <img src="https://image.flaticon.com/icons/svg/189/189085.svg" alt="Mobile" class="image resize">
                                                        <div class="overlay">
                                                          <div class="text">ID card</div>
                                                        </div>
                                                </div>
                                        </div> -->
        
                                        <form class="contact-form">
                                            
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Mobile/Citizen Card</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="nc-icon nc-single-02"></i>
                                                        </span>
                                                        <select class="form-control" [(ngModel)]="registerSet.IDType" name="type">
                                                            <option value="mobile">Mobile No.</option>
                                                            <option value="Citizen">Citizen ID.</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Mobile Number/No. ID Card</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="nc-icon nc-credit-card"></i>
                                                        </span>
                                                        <input type="text" class="form-control" placeholder="Name">
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <!-- <br> -->
                                            <button class="btn btn-warning btn-round">Register</button>
                                        </form>
                                    </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>