<!--component html goes here -->
<nav class="navbar navbar-expand-lg bg-warning sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">Standard Chatered</a>
        <div class="" id="navbar-warning">
            <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/StandardBanner.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Hello {{accountName}}</h1>
            <h3>Welcome to Standard Chatered Bank.</h3>
            <br />
            <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
            <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <!-- <i class="nc-icon nc-badge"></i> -->
                            <img class="resize" src="https://image.flaticon.com/icons/svg/762/762699.svg">
                        </div>
                        <div class="description">
                            <h4 class="info-title">Account</h4>
                            <br>
                            <a [routerLink]="['/account']" class="btn btn-danger btn-round">click</a>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <img class="resize" src="https://image.flaticon.com/icons/svg/712/712668.svg">
                        </div>
                        <div class="description">
                            <h4 class="info-title">Money Transfer</h4>
                            <br>
                            <a href="#paper-kit" class="btn btn-danger btn-round">click</a>

                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <img class="resize" src="https://image.flaticon.com/icons/svg/164/164412.svg">
                        </div>
                        <div class="description">
                            <h4 class="info-title">Promptpay</h4>
                            <br>
                            <a [routerLink]="['/promptpay']" class="btn btn-danger btn-round">click</a>
                        </div>
                    </div>
                    <br>
                </div>
                
            </div>

        </div>
    </div>
</div>