<!--component html goes here -->
<nav class="navbar navbar-expand-lg bg-info sticky-top">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/main']">Standard Chatered</a>
        <div class="" id="navbar-warning">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/main']">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/StandardBanner.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Nat Jane
                        <br />
                    </h4>
                    <h6 class="description">Promptpay service</h6>
                </div>
            </div>

            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'" type="pills" class="nav-pills-danger">
                        <ngb-tab title="PromtpPay">

                            <ng-template ngbTabContent>

                                <h2 class="text-center">PromtpPay</h2>
                                <br>


                                <form class="contact-form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>From Account</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="nc-icon nc-badge"></i>
                                                </span>
                                                <select class="form-control" [(ngModel)]="FormSendTranferPromptpay.SendAccountID" name="id">
                                                    <option *ngFor="let acc of accountList" [ngValue]="acc.accountID">{{acc.accountID}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Mobile/Citizen Card</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="nc-icon nc-single-02"></i>
                                                </span>
                                                <select class="form-control" [(ngModel)]="FormSendTranferPromptpay.type" name="type">
                                                    <option value="mobile">Mobile No.</option>
                                                    <option value="citizen">Citizen ID.</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Mobile Number/No. Citizen Card</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="nc-icon nc-credit-card"></i>
                                                </span>
                                                <input type="text" class="form-control" placeholder="value" [(ngModel)]="FormSendTranferPromptpay.value" name="value">
                                            </div>
                                            <div *ngIf="checkAccountPromptpayExist" class="alert alert-danger alert-with-icon" data-notify="container">
                                                <div class="container">
                                                    <div class="alert-wrapper">
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <i class="nc-icon nc-simple-remove"></i>
                                                        </button>
                                                        <div class="message">
                                                            <i class="nc-icon nc-bell-55"></i> This account promptpay not Exist.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Amount</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="nc-icon nc-badge"></i>
                                                </span>
                                                <input type="text" class="form-control" placeholder="baht" [(ngModel)]="FormSendTranferPromptpay.amount" name="amount">
                                            </div>
                                            <div *ngIf="checkAmountBalanceInsufficient" class="alert alert-danger alert-with-icon" data-notify="container">
                                                    <div class="container">
                                                        <div class="alert-wrapper">
                                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                <i class="nc-icon nc-simple-remove"></i>
                                                            </button>
                                                            <div class="message">
                                                                <i class="nc-icon nc-bell-55"></i> Insufficient Balance.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <!-- <br> -->
                                    <button class="btn btn-warning btn-round" (click)="transferPromptpay()">Continue</button>
                                    <button [hidden]=true data-toggle="modal" data-target="#ConfirmPromptpay" id="confirmTransferPrompt">Continue</button>
                                </form>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Account Number">
                            <ng-template ngbTabContent>

                                <h2 class="text-center">Account Number</h2>
                                <br>
                                <form class="contact-form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>From Account</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="nc-icon nc-badge"></i>
                                                </span>
                                                <select class="form-control" [(ngModel)]="moneyTranferLocal.SendAccountID" name="sendAccountID">
                                                    <option *ngFor="let acc of accountList" [ngValue]="acc.accountID">{{acc.accountID}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>To Account</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="nc-icon nc-badge"></i>
                                                </span>
                                                <input type="text" class="form-control" [(ngModel)]="moneyTranferLocal.ReceiveAccountID" name="receiveAccountID" placeholder="Name">
                                            </div>
                                            <div *ngIf="checkAccountNotExist" class="alert alert-danger alert-with-icon" data-notify="container">
                                                <div class="container">
                                                    <div class="alert-wrapper">
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <i class="nc-icon nc-simple-remove"></i>
                                                        </button>
                                                        <div class="message">
                                                            <i class="nc-icon nc-bell-55"></i> Account not Exist.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Amount</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="nc-icon nc-badge"></i>
                                                </span>
                                                <input type="text" class="form-control" [(ngModel)]="moneyTranferLocal.SubmitAmount" name="SubmitAmount" placeholder="Name">
                                            </div>
                                            <div *ngIf="checkAmountBalanceInsufficient" class="alert alert-danger alert-with-icon" data-notify="container">
                                                <div class="container">
                                                    <div class="alert-wrapper">
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <i class="nc-icon nc-simple-remove"></i>
                                                        </button>
                                                        <div class="message">
                                                            <i class="nc-icon nc-bell-55"></i> Insufficient Balance.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <br> -->
                                    <button class="btn btn-warning btn-round" (click)="transfer()">Continue</button>
                                    <button [hidden]=true data-toggle="modal" data-target="#exampleModal" id="confirmTransfer">Continue</button>
                                </form>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal MoneyTranfer-->
<div class="modal fade" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm transaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>From Account</label>
                <p>{{moneyTranferLocal.SendAccountID}}</p>
                <label>To Account</label>
                <p>{{moneyTranferLocal.ReceiveAccountID}}</p>
                <label>Amount</label>
                <p>{{moneyTranferLocal.SubmitAmount}}</p>
                <label>Net Amount</label>
                <p>{{moneyTranferLocal.NetAmount}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#successTransfer" data-dismiss="modal" id="transferStatus"
                    (click)="moneytransfer()">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal MoneyTranfer Status -->
<div class="modal fade" tabindex="-1" role="dialog" id="successTransfer">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div *ngIf="checkMoneyTranferLocalSuccess" class="modal-header" style="background-color: #86d9ab;">
                <h5 class="modal-title">Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="checkMoneyTranferLocalFail" class="modal-header" style="background-color: #f5593d;">
                <h5 class="modal-title">Fail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>From Account</label>
                <p>{{moneyTranferLocal.SendAccountID}}</p>
                <label>To Account</label>
                <p>{{moneyTranferLocal.ReceiveAccountID}}</p>
                <label>Amount</label>
                <p>{{moneyTranferLocal.SubmitAmount}}</p>
                <label>Net Amount</label>
                <p>{{moneyTranferLocal.NetAmount}}</p>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="moneytransfer()">Confirm</button> -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Comfirm Prompay-->
<div class="modal fade" tabindex="-1" role="dialog" id="ConfirmPromptpay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm transaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>From Account</label>
                <p>{{moneyTransferPromptpay.SendAccountID}}</p>
                <label>To Account</label>
                <p>{{moneyTransferPromptpay.ReceiveAccountID}}</p>
                <label>Amount</label>
                <p>{{moneyTransferPromptpay.SubmitAmount}}</p>
                <label>Net Amount</label>
                <p>{{moneyTransferPromptpay.NetAmount}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#successTransferPromptpay" data-dismiss="modal" id="transferStatusPromptpay"
                    (click)="moneytransferPromptpay()">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Comfirm Prompay Status-->
<div class="modal fade" tabindex="-1" role="dialog" id="successTransferPromptpay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div *ngIf="checkMoneyTranferPromptpaySuccess" class="modal-header" style="background-color: #86d9ab;">
                <h5 class="modal-title">Success2</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="checkMoneyTranferPromptpayFail" class="modal-header" style="background-color: #f5593d;">
                <h5 class="modal-title">Fail2</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>From Account</label>
                <p>{{moneyTransferPromptpay.SendAccountID}}</p>
                <label>To Account</label>
                <p>{{moneyTransferPromptpay.ReceiveAccountID}}</p>
                <label>Amount</label>
                <p>{{moneyTransferPromptpay.SubmitAmount}}</p>
                <label>Net Amount</label>
                <p>{{moneyTransferPromptpay.NetAmount}}</p>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="moneytransfer()">Confirm</button> -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>