<div class="wrapper">

    <div class="main" style="overflow-x: hidden;" >
        <div class="section section-image section-login section-header" style="background-image: url('assets/img/login-image.jpg');">
            <div class="container">
                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <img class="logo-bank" src="assets/img/bank.png" alt="">
                        <h2 class="title">
                            Standard chartered
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register">
                            <h3 class="title">Login</h3>
                            <form ngNativeValidate class="register-form" (submit)="signin()">
                                <label>Username</label>
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-badge"></i>
                                    </span>
                                    <input type="text" name="username" [(ngModel)]="user.username" class="form-control" placeholder="Username" required>
                                </div>

                                <label>Password</label>
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-key-25"></i>
                                    </span>
                                    <input type="password" [(ngModel)]="user.password" name="Password" class="form-control" placeholder="Password" required>
                                </div>
                                <button type="submit" class="btn btn-info btn-block btn-round">Login</button>
                            </form>
                            <div class="forgot">
                                <a (click)="testLogin(user.username,user.password)" class="btn btn-link btn-info">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        </div>
    </div>
</div>